
.navbar-fixed-top {
	margin-top: 25px;
	margin-bottom: 5px;
	position: static;
}

p {
	margin-top: 12px;
	font-family: 'Delius Swash Caps', cursive;
	text-align: center;
	font-size: 30px;
	color: #0d0d0d;
	position: relative;
}

h1 {
	color: #1a1a1a;
	font-family: 'Delius Swash Caps', cursive;
	text-align: center;
}

.square {
	border-radius: 10px;
	width:90%;
	margin-top: 10px;
	margin: auto;
    font-size: 15px;
    background-color: #FFFAF0;
    box-shadow: -5px 7px 20px black;
    background: url(../IMG_20.jpg);
	background-size: cover;
}

@media screen and (max-width: 500px) {
	.square {
	margin: auto;
	width: 100%;
		
	}
}
